*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luxurious Roman', cursive;
}

a {
    text-decoration: none;
}

body {
    background-color: #cb997e;
    margin-top: 80px;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

header {
    width: 100%;
    height: 80px;
    background: #ddbea9;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon-menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon-menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.name-page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name-page h1 {
    margin-bottom: 0;
}

.titulo {
    margin-bottom: 15px;
}

.subtitulo {
    margin-left: 20px;
    margin-bottom: 10px;
}


.producto {
    width: 75%;
    margin: auto;
}

.card {
    background-color: #6b705c;
    width: fit-content;
    border: 1px solid #6b705c;
    border-radius: 15px;
}

.card-image img {
    width: 100%;
    border-radius: 15px;
}

.card-content {
    text-align: center;
    padding: 10px;
}

.card-content h2 {
    margin-top: 5px;
    letter-spacing: 1.5px;
    color: #ffe8d6;
}

.card-content h4 {
    margin-top: 2px;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    color: #ffe8d6;
}

.card-content p {
    font-size: 12px;
    color: #ffe8d6;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}

.card-content a {
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #ffe8d6;
    color: #6b705c;
    font-size: 17px;
    padding: 5px 18px;
    border-radius: 40px;
    letter-spacing: 1.5px;
}

.card-content a:hover {
    background-color: #ddbea9;
    transition: 0.2s ease;
}

::-webkit-scrollbar {
    width: 10px;
    background: #cb997e;
}

::-webkit-scrollbar-thumb {
    background: #ddbea9;
    border-radius: 6px;

}

.btn-carrito {
    background-color: #6b705c;
    box-shadow: none;
    width: 80px;
    height: 50px;
    color: #ffe8d6;
    border-radius: 15px;
}

.btn-carrito i {
    width: 20px;
    margin-right: 20px;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: #ffe8d6;
    width: 1000px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #6b705c;
    font-size: 20px;
    padding-bottom: 5px;
}


.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #cb997e;
    border: none;
    background-color: #ffe8d6;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding: 10px 0px 0px;
}

.productoEnCarrito {
    border-left: 5px solid #a5a58d;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid #6b705c;
}

.boton-eliminar {
    background-color: #ffe8d6;
    color: #6b705c;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.categorias {
    margin-left: 25px;
}

.categorias h2 {
    margin-bottom: 5px;
}

.categorias select {
    background-color: #ddbea9;
    width: 450px;
    height: 50px;
    font-size: 20px;
    color: #6b705c;
    box-shadow: none;
    border: none;
    border-radius: 10px;
}

